<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="movies.css">

</head>
<body>
    <div class="one">
    <img width = "30%" src="https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5..v1582751026.png">
    <br>
    <p>Ready to watch? Enter your email to create or restart your membership</p>
    </div>
    <div class = "button">
        <button id="signin"><a href="/">Home</button>
        <button id="signin"><a href="/trending">Trending</a></button>
        <button id="signin"><a href="/movies">Movies</a></button>
        <button id="signin"><a href="/subscription">Subscription</a></button>
    </div>
    <br><br><br>
    <br>
    <div class="content">
        <div class="image">
            <img width = "40%" src="https://i.pinimg.com/originals/3b/ed/31/3bed31a5d77689cff812cd26bc49a7ca.jpg">
        </div>
        <div class="description">
            <h3>THE JOKER</h3>
            <p>Following the events of Infinte Frontier #1, the Joker is the most wanted man in the world! But the Clown Prince of Crime is several steps ahead pf law enforment - and he's on the run overseas. James Gordon, facing retirement, realizes this is the manhunt of his lid=fe and the last piece of a storied carrer...but what </p>
        </div>
    </div>
</body>
</html>