<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="movies.css">

</head>
<body>
    <div class="one">
    <img width = "30%" src="https://i.pcmag.com/imagery/reviews/05cItXL96l4LE9n02WfDR0h-5..v1582751026.png">
    <br>
    <p>Ready to watch? Enter your email to create or restart your membership</p>
    </div>
    <div class = "button">
        <button id="signin"><a href="/">Home</button>
        <button id="signin"><a href="/trending">Trending</a></button>
        <button id="signin"><a href="/movies">Movies</a></button>
        <button id="signin"><a href="/subscription">Subscription</a></button>
    </div>
    <br><br><br>
    <br>
    <div class="content">
        <div class="description">
            <h3>Money Heist</h3>
            <p>'The House of Paper') is a Spanish heist crime drama television series created by Álex Pina. The series traces two long-prepared heists led by the Professor (Álvaro Morte), one on the Royal Mint of Spain, and one on the Bank of Spain, told from the perspective of one of the robbers, Tokyo (Úrsula Corberó).</p>
        </div>
        <div class="image">
            <img width = "40%" src="https://www.themoviedb.org/t/p/original/reEMJA1uzscCbkpeRJeTT2bjqUp.jpg">
        </div>
    </div>
</body>
</html>